In [1]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

NameError: name 'Math' is not defined

In [4]:

#Answer
#Error :Name error , Math variable is not-defined

import math
print(math.sqrt(16))

4.0

In [10]:
#2.Find the error in the following Python code:

def my_function():
    x += 5
    print(x)

x = 10
my_function()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [12]:
#Answer

#Error:Unbound local error: After assignment operator , we assign value for variable x.

def my_function(x):
    x += 5
    print(x)

#x = 10
my_function(10)

15

In [13]:
#3.x = 5
if x = 10:
    print("x is 10")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2096591078.py, line 2)

In [2]:
#Answer
#Error : assignment operator is missing

x = 5
if x == 10:
    print("x is 10")
else:
    print("not same")

not same

In [10]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

None

In [8]:
#answer
#sort() method will returns none value as output

numbers = [5, 3, 8, 2]
s_num=numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [20]:
#5.
def square(n):
    n * n

print(square(4))

None

In [32]:
#answer
#without return statement in fuction it will not display output

def square(n):
  return n * n
print(square(4))

16

In [33]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [11]:
#Answer
#Tuple is immutable , we cannot changed values.We can convert tuples into list and update value

my_tuple = (1, 2, 3)
i_list=list(my_tuple)
i_list[1] = 5
my_tuple=list(i_list)
print(my_tuple)

[1, 5, 3]

In [52]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

TypeError: not enough arguments for format string

In [53]:
#Answer

#Error: Using format string we are calling values to print . age argument is missing.

name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [62]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [6]:
#Answer
#Here is condition used to check object identity for 2 variables.

#object identity will check whether both variable values are in same memory location. 
#Here , both a and b have same value but allocated in different location so they both are not eaqual

a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")
else:
    print("Lists are not equal")

Lists are not equal

In [68]:
#9.
for i in range(5, 1):
    print(i)

In [5]:
#answer
# Error: In range , start value is high comparing to end value. so it will not give output

for i in range(1,5):
    print(i)

1
2
3
4

In [79]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

KeyError: 'John'

In [10]:
#Answer
#Error:Name is not defined . Using dictinory key we can get name of the student

student = {"name": "John", "age": 20}
name=student["name"]
print(name)

John